.wrap
  = render 'shared/side_bar'
  .contents
    .contents__head.contents__head--fit
      .current-group--left
        %p.current-group__name
          test-group
        %p.current-group__members
          Member: test
      .current-group--right
        =link_to "Edit", edit_group_path(params[:group_id]), class: "current-group__btn current-group__btn--fit"
    .contents__chat-messages
      = render partial: 'chat_message', collection: @chat_messages
    .contents__foot
      = form_tag "/groups/#{params[:group_id]}/messages", class: "chat-form" do
        .chat-form__upload
          = text_field_tag "body", '', class: "chat-form__message", placeholder: "type a message"
          %label.chat-form__upload--label{for: "chat-form__upload-icon-id"}
            = fa_icon 'image', class: "chat-form__upload--icon"
            = file_field_tag 'chat-form__upload-icon-id', class: "chat-form__upload--hidden"
        = submit_tag "Send", class: "chat-form__btn chat-form__btn--fit"
